

<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-links">
                <ul>
                    <li><a href="">O nás</a></li>
                    <li><a href="">Kontakt</a></li>
                    <li><a href="">Podmínky služeb</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            &copy; 2023 WORKPLACE. <br> Všechna práva vyhrazena.
        </div>
    </div>
</footer>
